*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-item{
    border: 1px solid rgb(155, 154, 154);
    margin-right: 10px;
}

#banner-container1{
    padding: 0px;
}
#banner1{
    height: 440px;
}
#caption1{
    margin-bottom: 150px ;
}

@media screen and (max-width: 400px) {
    #banner1{
        height: 340px;
    }
    #caption1{
        margin-bottom: 60px;
    }
  }

  @media screen and (max-width: 600px) {
    #banner1{
        height: 340px;
    }
    #caption1{
        margin-bottom: 70px;
    }
  }

#card1img{
    height: 150px;
}
#btn1{
    margin-left: 85px;
}
#card1{
    width: 25%;
}
#card2{
    width: 25%;
}
#card3{
    width: 25%;
}

/* @media screen and (max-width: 400px) {
    #card1img{
        height: 150px;
    }
    #btn1{
        margin-left: 85px;
    }
    #card1{
        margin-top: 10px;
    }
    #card2{
        margin-top: 500px;
    }
    #card3{
        margin-top: 700px;
    }
  } */


  @media screen and (max-width: 600px) {
    #btn1 {
        margin-left: 110px;
    }
    .container-fluid .d-flex {
        flex-direction: column; /* Stack cards vertically */
        align-items: center;
    }
    #card1{
        
        width: 75%;
        height: fit-content;
    }

}

@media screen and (max-width: 400px) {
    #btn1 {
        margin-left: 50px;
    }

}

#card{
    width: 478px;
}
#card9{
    width: 478px;
}

@media screen and (max-width: 600px) {
    
#card9{
    width: 350px;
    margin-left: 0px;
}
#card{
    width: 350px;
}
/* #btn2{
    margin-left:275px;
}
#btn3{
    margin-left:354px;
} */
} 



#card2img{
    height: 200px;
}
.card-body{
    background-color: rgb(242, 242, 242);
}
#btn2{
    margin-left:275px;
}

#banner-container2{
    padding: 0px;
    width: 100vw; 
    left: -12px;
}
#banner2 {
    height: 280px;
}

#container{
    margin: 120px;
}
#btn3{
    margin-left:54px;
}

@media screen and (max-width: 400px) {
    #banner2 {
        height: 300px;
    }
    #card{
        width: 220px;
    }
    #card9{
        width: 250px;
        margin-left: 0px;
    }
    
    #btn2{
        margin-left:80px;
    }
    #btn3{
        margin-left:70px;
    }
    } 

#card10{
    margin-top: -93px;
    margin-left: 118px;
    margin-right: 119px;
    margin-bottom: 40px;
}

#img1{
    height: 400px;
}


@media screen and (max-width: 600px) {
    
    #card10{
        margin-top: -93px;
        margin-left: 50px;
        margin-right: 60px;
        margin-bottom: 40px;
    }
    #img1{
        height: 270px;
    }
      }
      @media screen and (max-width: 400px) {
        #card10{
            margin-top: -93px;
            margin-left: 15px;
            margin-right: 20px;
            margin-bottom: 40px;
        }
        #img1{
            height: 200px;
        }
          }



#caption2{
    margin-bottom: 35px;
}
#banner3{
    height: 500px;
    padding: 0px;
}
#para{
    margin-left: 127px;
    opacity: 0.6;
    width: 635px;
}
#banner-container3{
    padding: 0px;
    width: 100vw; 
    left: -12px;
}
#form1{
    margin-left: 115px;
    margin-right: 117px;
}
#form1>div>input{
    height: 30px;
    opacity: 0.6;
}
#form1>div>textarea{
    height: 136px;
    opacity: 0.6;
}
#btn5{
    margin-left: -243px;
}


@media screen and (max-width: 600px) {
    #contact{
        color: rgb(118, 117, 117);
    }
    #para{
        margin-left: -45px;
        width: 450px;
    }
    #form1{
        margin-left: 0px;
        margin-right: 0px;
    }
    #btn5{
        margin-left: -90px;
    }
      }

      @media screen and (max-width: 400px) {
        #para{
            margin-left: -10px;
            width: 250px;
        }
        #caption2{
            margin-bottom: -20px;
        }
        #btn5{
            margin-left: -20px;
        }
          }